.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding-right: 45px;
  gap: 40px;
}

.headerFirst {
  color: var(--accents);
  font-size: 80px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 120px;
}

@media(width <= 840px) {
  .headerFirst {
    font-size: 70px;
  }
}

@media(width <= 540px) {
  .headerFirst {
    font-size: 45px;
    margin-bottom: 80px;
  }
}