.biggerImgContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
    
  &>div {
    width: 60vw;
    height: 60vh;
    &>img {
      object-fit: contain;
    }
  }

  @media(width<= 800px) {
      &>div {
        width: 70vw;
      }
    }

}


.description {
  margin-top: 0.5rem;
  font-size: 25px;
  color: var(--main-text);
  text-align: center;

    @media(width<= 800px) {
        &{
            font-size: 20px;
        }
    }
    @media(width<= 500px) {
        &{
            font-size: 18px;
        }
    }
}
