
html.dark {
  --background: rgba(1, 13, 12, 1);
  --bg-blocks: rgba(21, 80, 52, 1);
  --highlight: rgba(4, 96, 136, 1);
  --accents: rgba(47, 221, 230, 1);
  --main-text: rgba(225, 252, 243, 1);
}

html.light {
  --background: rgba(1, 13, 12, 1);
  --bg-blocks: rgba(21, 80, 52, 1);
  --highlight: rgba(4, 96, 136, 1);
  --accents: rgba(47, 221, 230, 1);
  --main-text: rgba(225, 252, 243, 1);
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

body {
  padding: 15px;
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-metrophobic), Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  color: var(--main-text);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* outline: 1px solid red; */
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  cursor: pointer;
  width: 100%;
  padding: 8px 0;
}

li:hover {
    background-color: rgba(255, 255, 255, 0.277);
}

input {
  color: var(--main-text);
  background-color: rgba(21, 80, 52, 0.3);
}

next-route-announcer {
  display: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
